@page
@model EletronicPartsCatalog.Web.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Componentes";
}

<div id="react-root"></div>

@section Styles {
    <link href="~/dist/styles/parts.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/dist/parts.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}