@{
    ViewData["Title"] = "Detalhes do componente";
}
@model EletronicPartsCatalog.Web.Pages.Models.PartViewModel;

@section Styles {
    <link href="~/dist/styles/parts.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <section>
            <h4>Detalhes de Componente</h4>
            <hr />
            <div class="PartsListItem row">
                <div class="col-md-12">
                    <div class="PartsListItem-summary row">
                        <div class="col-md-6 padding-none">
                            <span class="PartsListItem-name">@Model.Name</span>
                        </div>
                        <div class="col-md-6 padding-none">
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-calendar"></span> @Model.CreationDate
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 padding-none">
                            <span class="PartsListItem-description">@Model.Description</span>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/Parts/Delete/@Model.Id" method="post">
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Deletar componente
                </button>
            </form>
        </section>
    </div>
</div>