@page
@model EletronicPartsCatalog.Web.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Projects";
}

<p>Projects list</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
