@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="react-homepage-root"></div> <!-- root element -->

@section Styles {
    <link href="~/dist/styles/homepage.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/dist/homepage.js"></script>
}
