@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href="~/dist/styles/home.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="row banner">
            <div class="col-md-12">
                <h1 class="text-center banner-text">Sistema Catálogo de Componentes</h1>
                <p class="text-center">Busque, adicione peças eletronicas e compartilhe seus projetos utilizando e-waste.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 category">
        <h3 class="category-header">E-waste</h3>
        <p class="category-content">
            Lixo eletrônico, composto por equipamentos obsoletos
            que podem muitas vezes podem ser reutilizados.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="category-header">Nossa Proposta</h3>
        <p class="category-content">
            O que buscamos com esse site é fornecer um catalogo listando quais partes
            de equipamentos eletronicos podem ser reutilizadas. Além disso, divulgar
            projetos que utilizem e-waste como parte ou todo de seu material.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="category-header">SCC</h3>
        <p class="category-content">
            O SCC (Sistema Catálogo de Componentes) é um site criado com o objetivo, de facilitar
            a busca por material eletronico, e evitar o disperdicio.
        </p>
    </div>
</div>